//body-page//
.cadastro-content {

  ion-label {
    color: white;
  }

  .div-senha {
    margin-top: 15px;
  }

  .radioGroup {
    margin-left: 43px;
    z-index: 10;
  }

  ion-button {
    border-radius: 20px;
  }

  .content {
    background: transparent !important;
    outline: none;
  }

  ion-item {
    --background: transparent !important;
    --color: transparent !important;
    color: white;
    border-bottom: 1px solid white !important;
    z-index: 9;
  }
}

//logo//
.logoCadastro{
  position: absolute;
  left: 50%;
  top: 16%;
  transform: translate(-50%,-50%);
  height: 200px;
  width: auto;
  z-index: 9;
  padding: 10px 10px;
}

//error
.form-error {
  margin: 13px 15px 0 0 !important;
  color: red;
  font-size: 0.7rem;
  text-align: right !important;
}

//estética-botões//
.button-submit {
  --transition: background-color, opacity 100ms linear;
  --ripple-color: currentColor;
  --border-radius: 50%;
  --border-width: 0;
  --border-style: none;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  display: block;
  width: 45px;
  height: 45px;
  position: relative;
  left: -10px;
  top: 10px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
  -webkit-font-kerning: none;
  font-kerning: none;
}

.ocultarSenha {
  position: relative;
  left: 20px;
}

.possuo-cadastro{
  text-align: center;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.form-style{
  margin-top: 80%;
  text-align: center;
}

@media screen and (max-width: 500px){
  .possuo-cadastro{
    text-align: center;
    font-size: 15px;
    color: white;
    cursor: pointer;
    margin-top: 8%;
  }
  .form-style{
    margin-top: 40%;
  }
  .logoCadastro{
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%,-50%);
    height: 140px;
    width: auto;
    z-index: 9;
    padding: 5px 5px;
  }
  ion-item {
    font-size: 15px;
    margin: -5px;
  }
}
