//body-page//
.cadastro-content {

  ion-label {
    color: white;
  }

  .div-senha {
    margin-top: 15px;
  }

  .radioGroup {
    margin-left: 40px;
  }

  ion-button {
    border-radius: 20px;
  }

  .content {
    background: transparent !important;
    outline: none;
  }

  ion-item {
    --background: transparent !important;
    --color: transparent !important;
    color: white;
    border-bottom: 1px solid white !important;
  }
}

//logo//
.logoCadastro{
  position: absolute;
  left: 50%;
  top: 16%;
  transform: translate(-50%,-50%);
  height: 300px;
  width: auto;
  z-index: 10;
  padding: 10px 10px;
}

//error
.form-error {
  margin: 13px 15px 0 0 !important;
  color: red;
  font-size: 0.7rem;
  text-align: right !important;
}

//estética-botões//
.button-submit {
  --transition: background-color, opacity 100ms linear;
  --ripple-color: currentColor;
  --border-radius: 50%;
  --border-width: 0;
  --border-style: none;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  display: block;
  width: 45px;
  height: 45px;
  position: relative;
  left: -10px;
  top: 10px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
  -webkit-font-kerning: none;
  font-kerning: none;

}

.possuo-cadastro {
  position: relative;
  color: white;
  cursor: pointer;
}

.ocultarSenha {
  position: relative;
  left: 20px;
}
