<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>


    <ion-buttons slot="end">
      <!--  BUTTON   de edição  -->
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-avatar style="margin-right: 70%; margin-top: 20px; width: 100px; height: 100px">
    <img class="circle" [src]="profileImage">
  </ion-avatar>
  <ion-icon id="iconEdit" (click)="editarImagem()" style="float: left; margin-right: 30%" name="create"></ion-icon>
  <h2 style="float: right; margin-left: -30%" class="ion-text-center">{{cliente?.nome}}</h2>
  <p class="ion-text-center">{{cliente?.email}}</p>

  <ion-card *ngIf="editImage">
    <ion-card-header>
      Enviar imagem de perfil
    </ion-card-header>
    <ion-item *ngIf="picture">
      <img [src]="picture">
    </ion-item>
    <ion-item>
      <ion-button (click)="getCameraPicture()" [disabled]="cameraOn">Camera</ion-button>
      <ion-button (click)="getGalleryPicture()" [disabled]="cameraOn">Galeria</ion-button>
      <ion-button *ngIf="picture" (click)="sendPicture()">Enviar imagem</ion-button>
      <ion-button *ngIf="picture" (click)="cancel()">Descartar imagem</ion-button>
    </ion-item>
  </ion-card>

  <div class="clear"></div>

  <div style="text-align: left; padding-left: 6%">
    <ion-item class="input-cpfOuCnpj">
      <ion-label position="stacked">CPF OU CNPJ:</ion-label>
      <ion-input class="ion-text" type="text" name="cpfOuCnpj" [disabled]=true>{{cliente.cpfOuCnpj}}</ion-input>
    </ion-item>
    <div class="clear"></div>

    <ion-item class="input-nome">
      <ion-label position="stacked">Nome:</ion-label>
      <ion-input class="ion-text" type="text" name="nome" [disabled]=true>{{cliente.nome}}</ion-input>
    </ion-item>
    <div class="clear"></div>

    <ion-item class="input-email">
      <ion-label position="stacked">E-mail:</ion-label>
      <p *ngIf="!editUser" class="ion-text">{{cliente.email}}</p>
      <ion-input *ngIf="editUser" class="ion-text" type="text" name="email" placeholder="{{cliente.email}}"></ion-input>
    </ion-item>
    <div class="clear"></div>

        <ion-item class="input-senha">
          <ion-label position="stacked">Senha:</ion-label>
          <p *ngIf="!editUser" class="ion-text">********</p>
          <ion-input *ngIf="editUser" class="ion-text" type="text" placeholder="*********"></ion-input>
        </ion-item>
  </div>

</ion-content>
