<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" style="color: white" (click)="dismiss()"></ion-icon>
    </ion-buttons>

    <ion-title>Recuperar Senha</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-grid>
    <form>
      <ion-item>
        <ion-label position="floating">CPF ou CNPJ</ion-label>
        <ion-input class="ion-text-lowercase" type="text" name="cpf"></ion-input>
      </ion-item>

      <div class="clear"></div>

      <ion-fab vertical="end" horizontal="end">
        <ion-fab-button class="button-submit" color="primary" type="submit" (click)="enviarEmail()">
          <ion-spinner name="crescent" *ngIf="isloading"></ion-spinner>
          <ion-icon name="arrow-forward-outline" *ngIf="!isloading"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <div class="clear"></div>
    </form>
  </ion-grid>

</ion-content>
