.login-content {
  ion-label {
    color: white;
  }

  .div-email {

  }

  .div-senha {
    margin-top: 15px;
  }

  ion-button {
    border-radius: 20px;
    background-color: black;
  }

  .content {
    background: transparent !important;
  }

  ion-item {
    --background: transparent !important;
    --color: transparent !important;
    color: white;
    border-bottom: 1px solid white !important;
  }

  .label {
    color: white;
  }


}

.button-submit {
  --transition: background-color, opacity 100ms linear;
  --ripple-color: currentColor;
  --border-radius: 50%;
  --border-width: 0;
  --border-style: none;
  --border-color: initial;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  display: block;
  width: 56px;
  height: 56px;
  position: relative;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
  -webkit-font-kerning: none;
  font-kerning: none;

}


