<ion-content class="login-content" color="login-primary">
  <ion-grid>

    <ion-row>
      <ion-col style="left: 50%">
        <div class="img-wrapper" [style.background-image]="'url(assets/LogoTransparente/LogoServiceBank.png)'"></div>
      </ion-col>
    </ion-row>

  <div class="ion-padding ion-div-classe">
    <form>

        <ion-row>
          <ion-col>
            <div class="img-avatar ion-text-center">
            </div>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label position="floating">CPF ou CNPJ</ion-label>
          <ion-input class="ion-text-lowercase" type="text" name="cpf" [(ngModel)]="usuario.cpf"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input class="input-senha" [type]="tipo ? 'text' : 'password'" name="senha" [(ngModel)]="usuario.senha">
            <ion-fab horizontal="end" vertical="end">
              <ion-button class="ocultarSenha" fill="clear" type="button" (click)="exibiOcultarSenha()">
                <ion-icon style="color:#ffffff" [name]="tipo ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
              </ion-button>
            </ion-fab>
          </ion-input>
        </ion-item>


      <ion-fab vertical="end" horizontal="end">
        <ion-fab-button class="button-submit" color="light" type="submit" (click)="acessar()">
          <ion-spinner color="primary" name="crescent" *ngIf="isloading"></ion-spinner>
          <ion-icon color="primary" name="arrow-forward" *ngIf="!isloading"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>
    <a class="esqueciMinhaSenha" (click)="passwordRe()">Esqueci minha senha</a>
  </div>

  <a class="cadastrar" (click)="cadastrarSe()">Quero me cadastrar!</a>
  </ion-grid>
</ion-content>
