<ion-content class="login-content" color="login-primary">

  <ion-img class="logoLogin" src="assets/LogoTransparente/LogoServiceBank.png"></ion-img>

  <div class="ion-padding ion-div-classe">
    <form>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="img-avatar ion-text-center">
            </div>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input class="ion-text-lowercase" type="email" name="email" [(ngModel)]="usuario.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input class="input-senha" [type]="tipo ? 'text' : 'password'" name="senha" [(ngModel)]="usuario.senha">
            <ion-fab horizontal="end" vertical="end">
              <ion-button class="ocultarSenha" fill="clear" type="button" (click)="exibiOcultarSenha()">
                <ion-icon style="color:#ffffff" [name]="tipo ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
              </ion-button>
            </ion-fab>
          </ion-input>
        </ion-item>
      </ion-grid>

      <ion-fab vertical="end" horizontal="end" >
        <ion-fab-button class="button-submit" color="light" type="submit" (click)="acessar()">
          <ion-spinner name="crescent" *ngIf="isloading"></ion-spinner>
          <ion-icon name="arrow-forward" *ngIf="!isloading"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>
    <a class="esqueciMinhaSenha">Esqueci minha senha</a>
  </div>

  <a class="cadastrar" (click)="cadastrarSe()">Quero me cadastrar!</a>

</ion-content>
