<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Carrinho</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" size="large" (click)="limparCarrinho()">
        <ion-icon name="trash-outline" slot="end" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>
  <div style="width: 100vw;text-align: center">

    <p *ngIf="listaProdutosCarrinho.length == 0"> Seu carrinho está vazio</p>
  </div>


  <div class="cart-item" *ngFor="let produto of listaProdutosCarrinho">
    <div class="image">
      <ion-img [src]="produto.imageUrl"></ion-img>
    </div>

    <div class="description">
      <h3>{{produto.nome}}</h3>
      <p><sup>$</sup>{{produto.preco | number:'1.2'}}</p>
    </div>

<!--    <div class="actions">-->
<!--      <ion-buttons>-->
<!--        <ion-button (click)="increase.emit()">-->
<!--          <ion-icon slot="icon-only" name="add"></ion-icon>-->
<!--        </ion-button>-->
<!--      </ion-buttons>-->
<!--      <div class="counter">{{item.quantity}}</div>-->
<!--      <ion-buttons>-->
<!--        <ion-button (click)="decrease.emit()">-->
<!--          <ion-icon slot="icon-only" name="remove"></ion-icon>-->
<!--        </ion-button>-->
<!--      </ion-buttons>-->
<!--    </div>-->
  </div>

</ion-content>

<ion-footer>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          Total:
        </ion-col>
        <ion-col size="3" class=" ion-text-nowrap">
          {{ " " + getTotal()|currency:'BRL' }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-toolbar color="primary">
    <ion-button expand="full" (click)="finaliza()">
      Finaliza
    </ion-button>
  </ion-toolbar>
</ion-footer>
