.header-home{
  height: 230px;
  //--background: url(../assets/fundo-app/background-app.png) no-repeat center center / cover !important;
  opacity: 90%;
  padding-top: 20px;

}
.logo-menu{
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 18%;
  transform: translate(-50%,-50%);
  color: white;

}
.div-menu{
  height: 100%;
}
