<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <!----barra de pesquisar----->
    <ion-title>
      <ion-item style="height: 40px;width: 100%;border-radius: 10px">
        <ion-icon style="margin-right:2px " color="primary" name="search-outline"></ion-icon>
        <ion-input type="text" placeholder="buscar"></ion-input>
      </ion-item>
    </ion-title>

    <!------carrinho-->
    <ion-buttons slot="end">
      <ion-button fill="clear" size="large" (click)="openCar()">
        <ion-icon style="color: white" name="cart-outline"></ion-icon>
        <div>{{listaProdutosCarrinho.length}}</div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!--  lista de categorias-->
  <ion-button style="margin-left: 10px">
    <ion-icon style="color: white" name="pricetag-outline"></ion-icon>
  </ion-button>

  <ion-button>
    <ion-icon style="color: white" name="cart-outline"></ion-icon>
  </ion-button>


  <ion-card *ngFor="let produto of listaProdutos">

    <ion-card-header>
      <img [src]="produto?.imageUrl || 'assets/imgs/imgNotFound.png'">

      <ion-card-title>
        {{produto.nome}} - {{ "R$" + " " + produto.preco + ",00"}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img [src]="produto.imageUrl">
      <p style="color: green" *ngIf="produto.promocao==true">{{produto.desconto + "%" + " " + "OFF"}} </p>


        <ion-col size="2" offset="5">
          <ion-button (click)="addToCart(produto)" style="float:right">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>

    </ion-card-content>


  </ion-card>

</ion-content>
