//tool-bar//
.toolbar-home{
  --background: url(../../assets/fundo-app/background-app.png) no-repeat center center / cover !important;
  opacity: 90%;
  padding-top: 20px;
}

.lista-cards {
  border-left: 5px solid #050A30;
  border-radius: 5px;
}

.titulo-proposicao {
  color: #050A30 !important;
}

.font-custom p {
  font-size: inherit !important;
}
