<ion-header style="color: white">
  <ion-toolbar class="toolbar-home">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="large">
        <ion-icon style="color: white" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let item of lisataProdutos">
    <ion-row style="margin-left: 10px">
      <ion-col>
        <ion-row class="ion-text-wrap">
          <b> Nome: </b>{{ " " + item.nome}}
        </ion-row>
        <ion-row class="ion-text-nowrap">
          <b> Data: </b>{{ " " + item.preco}}
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
