<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Cadastro Produto</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <form>
      <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-select value="selecione">
          <ion-select-option value="produtor" *ngFor="let item for categorias">{{item.nome}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input class="ion-text-lowercase" type="text" name="nome" [(ngModel)]="produto.nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Preço</ion-label>
        <ion-input class="ion-text-lowercase" type="number" name="nome" [(ngModel)]="produto.preco"></ion-input>
      </ion-item>
    </form>

  </ion-grid>
</ion-content>

<ion-footer>

  <ion-toolbar color="primary">
    <ion-button expand="full" (click)="cadastrar()">
      Cadastrar
    </ion-button>
  </ion-toolbar>
</ion-footer>
